@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

.home-page-header html {
  width: 100%;
  height: 100%;
}

.home-page-header body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: #EEEEF5;
}


.black-lives-matter {
  font-size: 5vw;
  line-height: 6vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url(https://boomtown-production-consumer-backup.s3.amazonaws.com/3049/files/2021/09/game-of-homes-collage.jpg);
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s ease 500ms forwards;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}