.admin-manager-main-container {
    display: flex;
    flex: 1;
}

.admin-manager-side-menu-container {
    flex: 0.2;
    height: 100vh;
}

.admin-manager-content-container {
    flex: 0.8;
    height: 100vh;
}

.tab-content {
    background-color: #FAF9F6 !important;
}